/*2021 turwaith*/

/*----- MOBILE PORTRAIT - UNDER 480px -----*/
/*----- GLOBAL -----*/
html, body,p{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    background: url("https://picsum.photos/id/0/1920/1080");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
nav, main, footer{
    display: none;
}
.coming{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    text-align: center;
}
.coming p{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 2em;
}
.coming a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    transition: all .3s linear;
}
.coming a:hover{
    text-decoration: underline;
    transform: scale(1.12);
}
/*----- HEADER -----*/

/*-----  MAIN  -----*/

/*----- FOOTER -----*/

/*----- MOBILE LANDSCAPE & LARGER - OVER 480px ----- */
@media only screen and (min-width: 480px) {
/*----- GLOBAL -----*/

/*----- HEADER -----*/

/*-----  MAIN  -----*/

/*----- FOOTER -----*/
}

/*----- TABLET PORTRAIT - OVER 768px -----*/
@media only screen and (min-width: 768px) {
/*----- GLOBAL -----*/

/*----- HEADER -----*/

/*-----  MAIN  -----*/

/*----- FOOTER -----*/
}

/*----- TABLET LANDSCAPE - OVER 992px -----*/
@media only screen and (min-width: 992px) {
/*----- GLOBAL -----*/

/*----- HEADER -----*/

/*-----  MAIN  -----*/

/*----- FOOTER -----*/
}

/*----- LAPTOP & LARGER - OVER 1200px -----*/
@media only screen and (min-width: 1200px) {
/*----- GLOBAL -----*/

/*----- HEADER -----*/

/*-----  MAIN  -----*/

/*----- FOOTER -----*/
}
